% rebase('base.html')
      <div class="form">
      <form  method="post" action="/post">
        <div class="field">
          <label for="upload">Contents: </label>
          <textarea id="upload" name="upload" rows="24" autofocus="autofocus">{{content}}</textarea>
        </div>
        <div class="field">
          <label for="syntax">Force syntax: </label>
          <input class="field" placeholder="text/plain" id="syntax" name="syntax" value="{{syntax}}" />
        </div>
        %if username:
        <div class="field">
          <label for="is_private">Is the paste private? </label>
          <input type="checkbox" name="is_private" id="is_private" {{checked}}/>
        </div>
        %end
        <div class="field separator">
          <input type="hidden" name="redirect" value="yes"/>
          <input type="hidden" name="parent" value="{{get('parent', '')}}"/>
          <button class="button bigtext" type="submit" value="Submit">Submit</button>
        </div>
        <div class="footer smalltext">
          <p class="note">
            Note, private pastes can only be viewed by the current user.
          </p>
        </div><!--end of footer-->
      </form>
      </div><!--end of form-->
